.sitename {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-family: 'Nosifer', cursive;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.liwrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    margin: 0;
}

li {
    list-style: none;
    border-bottom: transparent 5px solid;
    border-top: 5px solid transparent;
    padding:3px;
}

a {
    text-decoration: none;
    color: black;
    transition: ease-in-out 500ms;
    font-size: larger;
}

a:hover {
    text-decoration: none;
    color: red;
}

li:hover {
    border-top: 5px solid red;
    border-bottom:red 5px solid;
    transition: all ease-in-out 500ms;

}

.container {
    width:850px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.groupetitre {
    display: flex;
    justify-content: center;
}

.couv {
    height: 250px;
    width:100%;
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}