.sitename {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-family: 'Nosifer', cursive;
}

.liwrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin: 0;
}

li {
    list-style: none;
    border-bottom: transparent 5px solid;
    border-top: 5px solid transparent;
    padding:3px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

li:hover {
    border-top: 5px solid red;
    border-bottom:red 5px solid;
    transition: all ease-in-out 500ms;

}

.container {
    width:850px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.groupetitre {
    display: flex;
    justify-content: center;
    border-bottom: transparent 5px solid;
}

.groupetitre:hover {
    border-bottom:red 5px solid;
}